# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

.ionide/

spelling-corrector/Data/big.txt

__pycache__
.ipynb_checkpoints
*.pyc

*.csv
*.csv.orig
model/
model04/