# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

data/
spelling-corrector/Data/big.txt

.ionide/

__pycache__
.ipynb_checkpoints
*.pyc

*.csv
*.csv.orig
model/
model04/
vocab_dir